body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0da6cc;
    color: black;
}

header {
    background-color: #3b22c7;
    color: white;
    padding: 1em 0;
    text-align: center;
}

/**********************/
.navbar {
    display:flex;
    justify-content:space-between;
    align-items:center;
  }
  
  .logo {
    font-size: 30px;
    font-weight: bold;
    color:#255919;
  }
  
  .logo span{
    font-style: italic;
    margin-left: 10%;
  }
  .menu ul {
    list-style: none;
    display:flex;
  }
  
  .menu ul li {
    margin-left: 20px;
  }
  
  .menu ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
  }
  
  .burger {
    display: none;
    
  }
    
  /*     ---------------*/


main {
    padding: 20px;
}

.service {
    background-color: white;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
  
}

.service h2 {
    color: #007bff;
}

footer {
    text-align: center;
    padding: -1em 0;
    background-color: #333;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
 /* Version pour les petits écrans (ex: smartphones) */
@media (max-width: 768px) {
      
     
    .menu ul {
      
      justify-content: center;
      padding: 0;
      flex-direction:column;
      align-items: center;
      margin: 0.1px;
      gap: 10px;

    }
}