
    
    /*    menu ---------*/
  header {
    background-color: #d564f1;
    color:black;
    padding: 12px  ;
  }
  
  .navbar {
    display:flex;
    justify-content:space-between;
    align-items:center;
  }
  
  .logo {
    font-size: 30px;
    font-weight: bold;
    color:#a5c4d3;
  }
  
  .logo span{
    font-style: italic;
    margin-left: 10%;
  }
  .menu ul {
    list-style: none;
    display:flex;
  }
  
  .menu ul li {
    margin-left: 20px;
  }
  
  .menu ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
  }
  
  .burger {
    display: none;
    
  }
    
  /*     ---------------*/
    :root{
        font-family:system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial;
        line-height:1.5;color:#222
        }
    body    {
     margin:0;
    background-color: #582897;
    }
    
    .container{
        max-width:1000px;
        margin:0 auto;
        padding:24px
    }
    h1,h2{
        margin:0 0 12px 0
    }
    .hero{
        display:flex;
        flex-direction:column;
        gap:12px
    }
    .card{
        background:#fff;
        border-radius:10px;
        padding:18px;
        box-shadow:0 4px 12px rgba(15,15,20,0.06)
    }
    .grid{
        display:grid;
        grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
        gap:14px
    }
    .team-member{
        padding:12px;
        border-radius:8px;
        background:#fbfdff
    }
    footer{
        padding:18px 0;
        text-align:center;
        color:#03010c;
        font-size: 20px;
    }
    .contact{
        display:flex;
        flex-wrap:wrap;
        gap:12px;
        align-items:center
    }
    .small{
        font-size:0.95rem;
        color:#350303
    }
    
    @media(min-width:760px){ 
        .hero{flex-direction:row;justify-content:space-between;align-items:center} 
    }
     /* Version pour les petits écrans (ex: smartphones) */
@media (max-width: 768px) {
      
     
    .menu ul {
      
      justify-content: center;
      padding: 0;
      flex-direction:column;
      align-items: center;
      margin: 0.1px;
      gap: 10px;

    }
}
