

/*    menu ---------*/
  header {
    background-color: #ec0f0f;
    color:black;
    padding: 15px;
  }
 body {
    background-color: #17aa9e;
    color:black;
    padding: 15px;
  }
  
  
  .navbar {
    display:flex;
    justify-content:space-between;
    align-items:center;
  }
  
  .logo {
    font-size: 30px;
    font-weight: bold;
    color:#255919;
  }
  
  .logo span{
    font-style: italic;
    margin-left: 10%;
  }
  .menu ul {
    list-style: none;
    display:flex;
  }
  
  .menu ul li {
    margin-left: 20px;
  }
  
  .menu ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
  }
  
  .burger {
    display: none;
    
  }
    
  /*     ---------------*/
h1 {
 font-size: 250%; 
 color: rgb(0, 255, 136); 
 padding-left: 15px;
 text-align: center;
 }
h2 {
 font-size: 250%; 
 color: red; 
 padding-left: 15px;
 text-align: center;
 }

 p {
 font-size: 200%;
 padding-left: 15px;
 text-align: center;
 font-size: 30px; 
  }
   p.incrits {
 font-size: 50%;
 padding-left: 15px;
 text-align: right;
 font-size: 30px; 
  }

 .nav-link { 
 text-align: center;
 }
 span.marge { 
 margin-left: 10%;
 }

.border  {

     border: "1" ;
     margin: 0em;
		padding: .20em;
		border-style: solid;
		border-width: 1px;
		border-color: #000000;
		border-collapse:collapse;
		font-size:25;
    

  }
 .bouton-rdv  {
    background-color:#C8FF00;;
    border: none;
    color: black;
    padding: 20px 55px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius:50px;    
    cursor: pointer;
    margin: 10px 40px 80px 100px;    
    font-weight :bolder;
   
  } 

    

 
  
  form {
    background-color:#1591ca;
    padding: 200px 150px;
  }

  .bouton-publier  {
     background-color:#1591ca;
    border: none;
    color: black;
    padding: 20px 55px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius:50px;    
    cursor: pointer;
    margin: 10px 40px 80px 300px;    
    font-weight :bolder;
   
  } 
  
  .bouton-enregistrer  {
     background-color:#1591ca;
    border: none;
    color: black;
    padding: 20px 55px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius:50px;    
    cursor: pointer;
    margin: 10px 40px 80px 300px;    
    font-weight :bolder;
   
  } 



  /* ---- Images --- */  
  
  .slide img{    
    width: 100%; /*la taille de l image suit la largeur du slide */
    height: 768px;   
    display: block; /* pour que le  width: 100%; s affiche bien*/
  }

  .color2 {
  color: #469B61;
  font-size: 55px;
  font-weight :600;
}
.taille {
  font-size: 30px;  
}

.text-center{
  text-align: center;
}
  /* ------------------------------------*/


   /*.card {
  margin-top: 16px;
   }

   .grid {
  margin-top: 16px;
   }*/


  /* ---------------rendez-vous---------------------*/

  .center {
   text-align: center;
   display: grid; 
   justify-content: center    ;
   gap: 20px;
   padding: 20px 34px; 
   font-size: 25px;
   color: #575391;
   
}

form    {
  
  width: 650px;
  height: 100px; 
  border:  3px solid gray;;
  letter-spacing: 1px;
  margin-top: 30px;
  font-size: 20px; 
  border-radius:10px; 
  padding-left: 10px;
  float:left 
}

.login   {
  
  width: 650px;
  height: 100px; 
  border:  3px solid gray;;
  letter-spacing: 1px;
  margin-top: 30px;
  font-size: 20px; 
  border-radius:10px; 
  padding-left: 10px;
  float:left 
}
 /* Version pour les petits écrans (ex: smartphones) */
@media (max-width: 768px) {      
     
    .menu ul {
      
      justify-content: center;
      padding: 0;
      flex-direction:column;
      align-items: center;
      margin: 0.1px;
      gap: 10px;

    }}




/* ------------------------------------*/

